*.o
*.so
*.module
*.bin
*.out

*.pdf

*~
*\#

.*

!.issue
.issue/*
!.issue/objects
!.issue/status
.issue/objects/issues/*/*.json

contrib/*
!contrib/example/

build/assembler/*

build/bin/vm/*
build/bin/run/*

tests/compiled/*

tmp/*

docs/manual/*.html
docs/manual/*.ps
docs/manual/*.pdf
docs/manual/*.txt
docs/manual/*.json

!.gitkeep
!.gitignore
!.travis.yml
!.clang-format
