*.o
*.so

*.bin
*.out

*.pdf

*.vlib

*~
*\#

.*

!.issue
.issue/*
!.issue/objects
!.issue/status
.issue/objects/issues/*/*.json

contrib/*
!contrib/example/

build/assembler/*

build/bin/vm/*
build/bin/run/*

tests/compiled/*

tmp/*


!.gitkeep
!.gitignore
!.travis.yml
!.clang-format
